[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.13.2"
anyascii = "==0.3.2"
apparmor = "==3.1.7"
argcomplete = "==3.4.0"
asgiref = "==3.7.2"
asttokens = "==2.4.1"
attrs = "==23.2.1.dev0"
authlib = "==1.3.1"
autocommand = "==2.2.2"
azure-common = "==1.1.28"
azure-core = "==1.30.2"
azure-identity = "==1.17.1"
azure-mgmt-core = "==1.4.0"
azure-mgmt-rdbms = "==10.1.0"
azure-mgmt-resource = "==23.1.1"
azure-mgmt-subscription = "==3.1.1"
babel = "==2.15.0"
bcrypt = "==4.1.3"
beautifulsoup4 = "==4.11.2"
bidict = "==0.23.1"
binwalk = "==2.4.1"
blinker = "==1.8.2"
boto3 = "==1.34.155"
botocore = "==1.34.155"
brlapi = "==0.8.5"
brotli = "==1.1.0"
btrfsutil = "==6.10"
cachetools = "==5.4.0"
certifi = "==2024.6.2"
cffi = "==1.16.0"
chardet = "==5.2.0"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
cloud-init = "==24.2"
colorama = "==0.4.6"
configobj = "==5.0.8"
cryptography = "==42.0.7"
defusedxml = "==0.7.1"
devtools = "==0.12.2"
distlib = "==0.3.8"
distro = "==1.9.0"
distro-info = "==1.7"
django = "==4.2.12"
django-filter = "==23.5"
django-modelcluster = "==6.3"
django-permissionedforms = "==0.1"
django-taggit = "==4.0.0"
django-treebeard = "==4.7.1"
djangorestframework = "==3.15.2"
dnspython = "==2.6.1"
docopt = "==0.6.2"
draftjs-exporter = "==2.1.7"
email-validator = "==2.2.0"
et-xmlfile = "==1.1.0"
eventlet = "==0.36.1"
executing = "==2.1.0"
fastjsonschema = "==2.20.0"
filelock = "==3.15.4"
filetype = "==1.2.0"
flask = "==3.0.3"
flask-babel = "==4.0.0"
flask-compress = "==1.15"
flask-login = "==0.6.3"
flask-mail = "==0.10.0"
flask-migrate = "==4.0.7"
flask-paranoid = "==0.3.0"
flask-principal = "==0.4.0"
flask-security-too = "==5.4.3"
flask-socketio = "==5.3.6"
flask-sqlalchemy = "==3.1.1"
flask-wtf = "==1.2.1"
google-api-core = "==2.19.1"
google-api-python-client = "==2.140.0"
google-auth = "==2.33.0"
google-auth-httplib2 = "==0.2.0"
google-auth-oauthlib = "==1.2.0"
googleapis-common-protos = "==1.63.2"
greenlet = "==3.0.3"
h11 = "==0.14.0"
html5lib = "==1.1"
httpie = "==3.2.3"
httplib2 = "==0.22.0"
idna = "==3.8"
importlib-resources = "==6.4.0"
inflect = "==7.3.1"
isodate = "==0.6.1"
itsdangerous = "==2.2.0"
"jaraco.classes" = "==3.4.0"
"jaraco.context" = "==5.3.0"
"jaraco.functools" = "==4.0.2"
"jaraco.text" = "==4.0.0"
jeepney = "==0.8.0"
jinja2 = "==3.1.4"
jmespath = "==1.0.1"
jsonformatter = "==0.3.2"
jsonpatch = "==1.33"
jsonpointer = "==3.0.0"
jsonschema = "==4.23.0"
jsonschema-specifications = "==2023.12.1"
keyring = "==24.3.1"
l18n = "==2021.3"
laces = "==0.1.1"
ldap3 = "==2.9.1"
libapparmor = "==3.1.7"
libfdt = "==1.7.0"
libgravatar = "==1.0.4"
libvirt-python = "==10.7.0"
lit = "==18.1.8.dev0"
louis = "==3.31.0"
lxml = "==5.3.0"
mako = "==1.3.5"
markdown-it-py = "==3.0.0"
markupsafe = "==2.1.5"
mdurl = "==0.1.2"
more-itertools = "==10.3.0"
msal = "==1.30.0"
msal-extensions = "==1.2.0"
msrest = "==0.7.1"
multidict = "==6.0.5"
netifaces = "==0.11.0"
nftables = "==0.1"
oauthlib = "==3.2.2"
openpyxl = "==3.1.5"
ordered-set = "==4.1.0"
packaging = "==24.1"
paramiko = "==3.4.0"
passlib = "==1.7.4"
pillow = "==10.4.0"
pillow-heif = "==0.17.0"
pipenv = "==2024.0.1"
pipx = "==1.6.0"
platformdirs = "==4.2.2"
portalocker = "==2.10.1"
proto-plus = "==1.24.0"
protobuf = "==5.27.3"
psutil = "==6.0.0"
psycopg = "==3.2.1"
psycopg-binary = "==3.2.1"
pulsemixer = "==1.5.1"
pwquality = "==1.4.5"
pyasn1 = "==0.6.0"
pyasn1-modules = "==0.4.0"
pycairo = "==1.27.0"
pycparser = "==2.22"
pygame = "==2.6.0"
pygments = "==2.18.0"
pygobject = "==3.48.2"
pyjwt = "==2.9.0"
pynacl = "==1.5.0"
pyotp = "==2.9.0"
pyparsing = "==3.1.2"
pypng = "==0.20220715.0"
pyserial = "==3.5"
pysocks = "==1.7.1"
python-dateutil = "==2.9.0.post0"
python-engineio = "==4.9.1"
python-socketio = "==5.11.3"
pytz = "==2024.1"
pywal = "==3.3.0"
pyyaml = "==6.0.2"
qrcode = "==7.4.2"
ranger-fm = "==1.9.3"
referencing = "==0.35.1"
reflector = "==2023.6.28.0.36.1"
requests = "==2.32.3"
requests-oauthlib = "==2.0.0"
requests-toolbelt = "==1.0.0"
rich = "==13.8.0"
rpds-py = "==0.19.0"
rpm = "==4.19.1.1"
rsa = "==4.9"
s3transfer = "==0.10.2"
secretstorage = "==3.3.3"
shellingham = "==1.5.4"
simple-websocket = "==1.0.0"
six = "==1.16.0"
soupsieve = "==2.5"
speaklater3 = "==1.4"
sqlalchemy = "==2.0.32"
sqlparse = "==0.5.1"
sshtunnel = "==0.4.0"
telepath = "==0.3.1"
tomli = "==2.0.1"
trash-cli = "==0.24.5.26"
trove-classifiers = "==2024.7.22"
typeguard = "==4.3.0"
typer = "==0.12.3"
typing-extensions = "==4.12.2"
ua-parser = "==0.18.0"
uc-micro-py = "==1.0.3"
ueberzug = "==18.2.3"
uritemplate = "==4.1.1"
urllib3 = "==1.26.20"
user-agents = "==2.2.0"
userpath = "==1.9.2"
validate = "==5.0.8"
validate-pyproject = "==0.19"
virtualenv = "==20.26.3"
wagtail = "==6.1.3"
webencodings = "==0.5.1"
werkzeug = "==3.0.3"
willow = "==1.8.0"
wsproto = "==1.2.0"
wtforms = "==3.1.2"
zstandard = "==0.23.0"

[dev-packages]

[requires]
python_version = "3.12"
